@font-face {
    font-family: 'Calibre';
    src: local('Calibre Medium'), local('Calibre-Medium'),
        url('Calibre-Medium.woff2') format('woff2'),
        url('Calibre-Medium.woff') format('woff'),
        url('Calibre-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }